<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Ash_PdfUploadAfterSupee9767
 *
 * Fix/allow PDF files to be uploaded via WYSIWYG image upload process
 * after the SUPEE-9767 security patch changed file validation in
 * Mage_Core_Model_File_Validator_Image
 *
 * @see https://stackoverflow.com/a/44828074
 *
 * @category    Ash
 * @package     Ash_PdfUploadAfterSupee9767
 * @copyright   Copyright (c) 2017 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ash_PdfUploadAfterSupee9767>
             <version>1.0.2</version>
        </Ash_PdfUploadAfterSupee9767>
    </modules>

    <global>
        <blocks>
            <ash_pdfuploadaftersupee9767>
                <class>Ash_PdfUploadAfterSupee9767_Block</class>
            </ash_pdfuploadaftersupee9767>
        </blocks>
        <helpers>
            <ash_pdfuploadaftersupee9767>
                <class>Ash_PdfUploadAfterSupee9767_Helper</class>
            </ash_pdfuploadaftersupee9767>
        </helpers>
        <models>
            <ash_pdfuploadaftersupee9767>
                <class>Ash_PdfUploadAfterSupee9767_Model</class>
            </ash_pdfuploadaftersupee9767>
            <core>
                <rewrite>
                    <file_validator_image>Ash_PdfUploadAfterSupee9767_Model_Rewrite_Core_File_Validator_Image</file_validator_image>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Ash_PdfUploadAfterSupee9767_Model_Rewrite_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Ash_PdfUploadAfterSupee9767>
                    <files>
                        <default>Ash_PdfUploadAfterSupee9767.csv</default>
                    </files>
                </Ash_PdfUploadAfterSupee9767>
            </modules>
        </translate>

        <!-- Adds pdf to the array of allowed extensions -->
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                    </allowed>
                    <image_allowed>
                        <pdf>1</pdf>
                    </image_allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>

    <default>
        <ash_pdfuploadaftersupee9767>
            <general>
                <enabled><![CDATA[1]]></enabled>
            </general>
        </ash_pdfuploadaftersupee9767>
    </default>
</config>
